body {
  background:     unset;
  outline:    0.0rem solid hsla(1000, 0%, 0%, 0) ;
  margin:          unset;
  box-sizing:      unset;
  padding:         unset;
  color:           unset;
  text-decoration: unset;

}

.main_page {
	display: flex;
	justify-content: center;
}

#social {
	position: absolute;
	max-height: 100vh;
	margin-left: 0vw;
	z-index: 5;
}

#mask {
	position: absolute;
	max-width: 200px;
	margin-top: 32vh;
	margin-left: -8vw;
	z-index: 4;
}

#body {
	position: absolute;
	max-width: 200px;
	margin-top: 35vh;
	margin-left: -8vw;
	z-index: 3;
}

#mind {
	position: absolute;
	max-width: 80px;
	margin-top: 35vh;
	margin-left: -8vw;
	z-index: 2;
}

#will {
	position: absolute;
	max-width: 40px;
	margin-top: 38vh;
	margin-left: -9vw;
	z-index: 1;
}

#window {
	margin-top: 10vh;
}